.header{
    background-color: var(--gray700);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    position: relative;
}
.action{
    position: absolute;
    left: calc((100% - 798px)/2);
    bottom: -22px;
    display: flex;
    gap: 1rem;
    width: 798px;
}